# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Image files
.png
.jpg
.jpeg
.tif
.tiff

# make dependency file
.depend

# emacs backups
*~

#simpleMD output files
*.smd